.graphs {
    background-color: rgb(240, 238, 238);
    padding-top: 9rem;
    text-align: center;
}

.chart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(210, 250, 244, 0.361);
    border: .5px solid black;
    border-radius: 5px;

}