
.loginPage img{
    width: 40px;
}
.GoogleBtnDiv{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    margin: 2rem 0 1.5rem 0;
}
.GoogleBtnDiv button{
    background-color: transparent;
    color: rgb(3, 83, 3);
}
.GoogleBtnDiv button:hover{
    color: red;
}