
.loginPage img{
    width: 40px;
}
.GoogleBtnDiv{
    background-color: rgba(250, 235, 215, 0.666);
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    color: black;
    margin: .5rem 0;
}
.GoogleBtnDiv button{
    background-color: transparent;
    color: rgb(3, 83, 3);
}
.GoogleBtnDiv button:hover{
    color: red;
}