.testing{
    border: 2px solid blue;
}
/* this porting is for testing purpose */

.bannerImg{
    filter: brightness(50%);
    height: 80vh;
}

.bannerContent{
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.logo{
    width: 170px;
    padding: 0;
}
.logoname{
    font-size: 4rem;
    margin-bottom: 0px;
    padding-top: 0 ;
    margin-top: 0;
}
.customRed{
    color: rgb(196, 28, 28);
}
.felxbox{
    width: 40%;
}
.customButton{
    background-color: rgb(196, 28, 28);
    color: white;
    border-radius: 17px;
    border: none;
}
.customButton:hover{
    background-color:rgb(236, 149, 149);
    color: black;
}

@media  only screen and (max-width:600px) {
    .bannerContent{
    display: block;
    }
}