.myNav{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(20, 28, 20, 0.837);
    padding-bottom: 1rem;
    padding-right: 2rem; 
    padding-top: .7rem;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    margin-bottom: .7rem;
    position: sticky;
    top: -.5rem;
    z-index: 50;

    
}
.myNav a{
    text-decoration: none;
    color: white;
    padding-left: 2rem;
}
.myNav a:hover{
    color: aquamarine;
}
.myNav h3, .navlinks{
    display: inline;
}
.signOutBtn{
    background-color: transparent;
    color: rgb(241, 129, 129);
    border: none;
    margin-left: 1rem;
}
a.loginBtnNav{
    color: rgb(65, 244, 65);
}

a.inactiveLink{
    color: rgb(167, 152, 152);
}

.dropdown{
    display: none;
}

.dorpdownMenu a{
    display: inline;
}

@media only screen and (max-width:600px) {
    .navlinks, .passwordResetButton{
        display: none;
    }
    .dropdown{
        display: block;      
    }
    .dorpdownMenu{
        background-color: rgb(20, 9, 9)!important;
        width: 100vw;
        text-align: center!important;
        margin-top: 1rem!important;
        padding: 1rem 1rem 2rem 1rem !important;
    }
    .myNav a{
        display:block;
        padding-right: 0;
        padding-left: 0;
    }
    .myNav{
        justify-content: space-around;
        padding-right: 0;
    }
}