.tinyInventory{
   background-color: rgb(240, 238, 238);
}
.gradientDivFromBlack{
    background-image: linear-gradient(black 40%, rgb(240, 238, 238));
    height: 50px;
}
.gradientDivFromWhite{
    background-image: linear-gradient(rgb(240, 238, 238) 40%, black);
    height: 50px;
}
.sectionStart{
    margin-top: 4rem;
}
.tinyIntevtoryTable{
    border: 2px solid black;
    margin: auto;
    margin-top: 30px;
    height: 500px;
    width: 70%;
    overflow: hidden;
    border-radius: 10px;
}
.tinyIntevtoryTable img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
tr{  
    background-color: rgba(160, 240, 226, 0.53);
    text-align: center;
}
th, td{
    padding-left: 10px;
    padding-right: 10px;
}
.manageInventoryBtn{
    border: none;
    border-radius: 10px;
    background-color: rgb(120, 214, 236);
}
.manageInventoryBtn:hover{
    background-color: rgb(44, 111, 126);
    color: white;
}