.tinyInventory{
   background-color: white;
}
.gradientDivFromBlack{
    background-image: linear-gradient(black 60%, white);
    height: 80px;
    color: white;
}
.tinyIntevtoryContainer{
    margin: auto;
    margin-top: 30px;
    height: 500px;
    width: 60%;
    border-radius: 33px;
    overflow: hidden;

}
.tinyIntevtoryContainer img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
tr{  
    background-color:rgba(138, 201, 152, 0.244) ;
    text-align: center;
}
th ,td{
    padding-bottom: 15px;
}

.manageInventoryBtn{
    background-color: rgb(97, 167, 228);
    border-radius: 15px;
    border: 0;
}
.manageInventoryBtn:hover{
    background-color: rgb(5, 78, 143);
    color: white;
}
.gradientDivFromWhite{
    background-image: linear-gradient(white 40%, black);
    height: 50px;
    color: white;
}