.tinyInventory{
   background-color: white;
}
.gradientDivFromBlack{
    background-image: linear-gradient(black 60%, white);
    height: 80px;
    color: white;
}
.tinyIntevtoryContainer{
    margin: auto;
    margin-top: 30px;
    height: 500px;
    width: 60%;
    border: 2px solid black;
    overflow: hidden;

}
.tinyIntevtoryContainer img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.customBorder{
    border: 2px solid red;
}

tr{  
    background-color: rgb(194, 145, 145);
}
