.addItems{
    /* background-color:  rgb(191, 244, 220); */
    border: 2px solid sandybrown;
    width: 85%;
    border-radius: 10%;
}
.addItems form{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 2rem;
   
}
.addItems input, textarea{
    display: block;
    margin-bottom: .8rem;
    border-radius: 5px;
    border: 1px solid rgb(78, 210, 151);
    text-align: center;
    width: 40%;
}
.submitBtn{
    margin-top: 15px;
    background-color: rgb(78, 210, 151); 
    
}
.submitBtn:hover{
    background-color: rgb(196,28,29); 
    color: white;
}